<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cheelo.css">
    <title>LosPibes</title>
</head>

<body>

    <header>
        <a href="../../index.html" class="logo">
            <img src="../../assets/CheloAssets/FreeTime.png" alt="CheloLeiti">
        </a>
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="home.html">Chelo</a></li>
            <li><a href="../Chuck/chuck.html">Chuck</a></li>
            <li><a href="../Norkot/Norkot.html">Norkot</a></li>
            <li><a href="#">ChristianQL</a></li>
        </ul>
    </header>


    <section class="inicio">
        <h1>Chelaaaazo</h1>
    </section>


    <footer>
        <h3>OtroTextoDe Cheeelo</h3>
    </footer>

</body>

</html>