<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cheelo.css">
    <title>LosPibes</title>
</head>

<body>

    <header>
        <a href="../../index.html" class="logo">
            <img src="../../assets/CheloAssets/leiti.gif" alt="CheloLeiti">
        </a>
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="home.html">Chelo</a></li>
            <li><a href="../Chuck/chuck.html">Chuck</a></li>
            <li><a href="../Norkot/Norkot.html">Norkot</a></li>
            <li><a href="#">ChristianQL</a></li>
        </ul>
    </header>


    <section class="inicio">
        <div class="card">
            <div>
                <h1>Lituanos</h1>
                <br>
                <h5>Los lituanos son una civilización que aparece en Age of Empires II: Definitive Edition que se especializa en la caballería y en los monjes.</h5>
                <br>
                <h5>Conoce más sobre los Leitis:</h5>
                <br>
            </div>

            <div class="cards">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../../assets/CheloAssets/civi.png" alt="Avatar" style="width: 100%; height: 100%;">
                        </div>
                        <div class="flip-card-back">
                            <h1>Civilización</h1>
                            <br>
                            <p>Continente: Europa</p>
                            <p>Arquitectura: Europa del Este</p>
                            <p>Especialidad: Caballería y Monjes</p>
                            <p>Tecnologías Únicas: Castros bálticos | Escudo Rectangular</p>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../../assets/CheloAssets/TecnosYUnis.png" alt="Avatar" style="width: 100%; height: 100%;">
                        </div>
                        <div class="flip-card-back">
                            <h1>Unidades Únicas</h1>
                            <br>
                            <p>Leitis Leitis: Caballería que ignora la armadura.</p>
                            <br>
                            <h1>Tecnologías Únicas</h1>
                            <br>
                            <p>Castros bálticos</p>
                            <p>Escudo Rectangular</p>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../../assets/CheloAssets/AldeanoDialogo.png" alt="Avatar" style="width: 100%; height: 100%;">
                        </div>
                        <div class="flip-card-back">
                            <h1>Aldeanos</h1>
                            <br>
                            <p>Klausau - Escuchado</p>
                            <p>Einu statyti - Voy a construir</p>
                            <p>Eime medžioti - Vamos a cazar</p>
                            <p>Sveiki - Hola</p>
                            <p>Tuojau - Inmediatamente / Directamente</p>
                            <p>Klausau viešpatie - Señor, estoy escuchando</p>
                            <p>Ką įsakysi? - ¿Cuáles serán tus órdenes?</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>


    <footer>
        <h1>-</h1>
        <h3>Leiti Site</h3>
        <h1>-</h1>
    </footer>

</body>

</html>