@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    min-height: 100vh;
    background: url(/views/Norkot/img/Banner.jpg);
}


/*---------------------navbar----------------------*/
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

/*---------------------navbar----------------------*/


/*---------------------banner----------------------*/

.unidad {
    display: flex;
    width: 85%;
    margin: 30px 40px;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: rgba(25, 25,25, 0.4);
  }
  .unidad-img img
  {
      width: 180px;
      box-sizing: border-box;  
  }
  
  .unidad-text {
    width: 40%;
    font-family: myriad pro;
  }
  
  .unidad-text h3 {
    color:	rgb(30, 144, 255);
    font-weight: 700;
    font-size: 3rem;
    margin: 0px;
  }
  
  .unidad-text h4 {
    color:	rgb(30, 144, 255);
    font-weight: 400;
    font-size: 2rem;
    margin: 0px;
  }
  
  .unidad-text font {
    color: azure;
  }
  
  .unidad-text p {
    font-size: 1rem;
    color: #bdbdbd;
    letter-spacing: 0.5px;
  }
  