<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>LosPibes</title>
</head>

<body>
    <header class="sticky">
        <a href="../../index.html" class="logo">Norkot</a>
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../chelo/home.html">Chelo</a></li>
            <li><a href="../Chuck/chuck.html">Chuck</a></li>
            <li><a href="#">Norkot</a></li>
            <li><a href="#">ChristianQL</a></li>
        </ul>
    </header>
<section>
    <div class="container">
        <div class="contenido">
            <h2>Wenas</h2>
            <h4>Opps! page not found</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, cum.</p>
            <a href="../../index.html">Back To home</a>
        </div>
    </div>
    <script type="text/javascript">
        var container = document.getElementById('container');
        window.onmousemove = function(e){
            var x = e.clientX/5,
                y = e.clientY/5;
            container.style.backgroundPositionX = x + 'px';
            container.style.backgroundPositionY = y + 'px';
        }
    </script>
        
</section>
</body>

</html>