<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>LosPibes</title>
</head>

<body>
    <header class="sticky">
        <img src="./img/escudo.png" alt="">
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../chelo/home.html">Chelo</a></li>
            <li><a href="../Chuck/chuck.html">Chuck</a></li>
            <li><a href="#">Norkot</a></li>
            <li><a href="#">ChristianQL</a></li>
        </ul>
    </header>

<section class="unidad">
    <div class="unidad-text">
        <h3>Sici<font>lianos</font>
        </h3>
        <h4>Alta torre te hacen perro</h4>
        <p>"Los sicilianos son una civilización que aparece en Age of Empires II: Lords of the West que se especializa en la infantería.""
        </p>
    </div>
    <div class="unidad-img">
        <img src="./img/Donjon.png" />
    </div>
</section>


</body>
</html>